# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

name: "Validate Pull Request"

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
    # Add assigned to defaults as a hack to easily trigger code-gen PRs to run validation
    types: [assigned, opened, synchronize, reopened]

defaults:
  run:
    shell: bash

jobs:
  validate-pull-request:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.4', '8.0', '8.1', '8.2']
    steps:
    - uses: actions/checkout@v3.5.2
      with:
        submodules: 'true'
    - name: Setup PHP and Xdebug for Code Coverage report
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        coverage: xdebug
    - name: Validate composer file
      run: |
        composer validate
    - name: Install dependencies
      run: |
        composer install
    - name: Run tests
      run: ./vendor/bin/phpunit --coverage-clover=coverage.xml
    - name: Fix code coverage paths
      run: sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' coverage.xml
    - name: SonarCloud Scan
      if: ${{ matrix.php-versions == '8.0' }}
      uses: SonarSource/sonarcloud-github-action@master
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - name: Run static analysis
      run: |
        vendor/bin/phpstan analyse --memory-limit=500M --error-format=github
